* {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

ul,
li,
ol {
  list-style: none;
}
body {
  background-color: #f5f5f5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* custom scrollbar */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  background-image: -webkit-gradient(
    linear,
    40% 0,
    75% 84%,
    from(#1e6671),
    to(#1e6671),
    color-stop(0.6, rgba(0, 0, 0, 0.2))
  );
}
/* custom scrollbar */
/* common css */

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  height: calc(100vh - 2rem);
  overflow-y: hidden;
}
.grid .column {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  overflow-y: auto;
  overflow-x: hidden;
}
.grid .column:first-child {
  width: calc(100% - 80%);
}

.grid .column .nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  width: calc(100% - 10%);
  height: calc(100vh - 5%);
  border-radius: 10px;
  background-color: #fff;
}
.grid .column .nav .nav-img {
  width: calc(100% - 0%);
  text-align: center;
}
.grid .column .nav .nav-img img {
  width: calc(100% - 40%);
  object-fit: cover;
  margin: 0 auto;
}
.grid .column .nav .navbar-nav,
.grid .column .nav .navbar-nav ul {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding-top: 5%;
  padding-bottom: 5%;
}
.grid .column .nav .navbar-nav ul {
  margin-left: 20%;
  width: 100%;
  padding-left: 0;
}
.grid .column .nav .navbar-nav a {
  color: #1e6671;
  font-size: 16px;
  font-weight: 500;
}
.grid .column .colums_div {
  background-color: #fff;
  padding: 10px 20px;
  margin-bottom: 1%;
  border-radius: 10px;
  width: calc(100% - 3rem);
}
.grid .column .heading {
  background-color: #1e6671;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  border-radius: 10px;
}
.grid .column .heading h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.grid .column {
}
.grid .column {
}
.grid .column {
}
.grid .column {
}
.grid .column {
}
